// // Override Bootstrap variables down here
$dark: #141625;
$darkPlus: #1e2139;
.text-darkPlus {
  color: $darkPlus;
}
.bg-darkPlus {
  background: $darkPlus;
}
$purple: #7c5dfa;

$font-family-base: "Poppins", sans-serif;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 912px,
  xl: 1200px,
  xxl: 1400px,
);
$purple: #7c5dfa;
// Colors
$dark-purple: #252945;
// purple
$primary: #7c5dfa;
// green
$success: #33d69f;
// blue
$info: #4f46e5;
// orange
$warning: #ff8f00;
// red
$danger: #ec5757;
// $light: #;
// $dark: #;

// font-size
$font-size-1: 3rem; // fs-1
$font-size-2: 2.5rem; // fs-2
$font-size-3: 1.75rem; // fs-3
$font-size-4: 1.25rem; // fs-4
$font-size-5: 1rem; // fs-5
$font-size-6: 0.75rem; // fs-6

// Button
$btn-padding-y: 16px;
$btn-padding-x: 24px;
$btn-font-family: "Nunito Sans", sans-serif;
$btn-line-height: 0.5;
$btn-font-size: 12px;
$btn-border-width: 0;
$btn-font-weight: 600;
$btn-link-color: green;
$btn-link-hover-color: white;
$btn-link-disabled-color: black;
$btn-border-radius: 30px;
$btn-color: white;

// Import Bootstrap
@import "bootstrap/scss/bootstrap"; // Custom styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-50: #f4f3ff;
  --color-primary-100: #ebe8ff;
  --color-primary-200: #d7d5ff;
  --color-primary-300: #bbb3ff;
  --color-primary-400: #9988fd;
  --color-primary-500: #7c5dfa;
  --color-primary-600: #6736f1;
  --color-primary-700: #5824dd;
  --color-primary-800: #491dba;
  --color-primary-900: #3d1a98;
  --color-primary-950: #230e67;

  --swiper-navigation-color: #3f5e8a;
}

// Background Primary Color Shade
.bg-primary-50 {
  background-color: var(--color-primary-50);
}

.bg-primary-100 {
  background-color: var(--color-primary-100);
}

.bg-primary-200 {
  background-color: var(--color-primary-200);
}

.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-primary-400 {
  background-color: var(--color-primary-400);
}

.bg-primary-500 {
  background-color: var(--color-primary-500);
}

.bg-primary-600 {
  background-color: var(--color-primary-600);
}

.bg-primary-700 {
  background-color: var(--color-primary-700);
}

.bg-primary-800 {
  background-color: var(--color-primary-800);
}

.bg-primary-900 {
  background-color: var(--color-primary-900);
}

.bg-primary-950 {
  background-color: var(--color-primary-950);
}

// Text Primary Color Shade
.text-primary-50 {
  color: var(--color-primary-50);
}

.text-primary-100 {
  color: var(--color-primary-100);
}

.text-primary-200 {
  color: var(--color-primary-200);
}

.text-primary-300 {
  color: var(--color-primary-300);
}

.text-primary-400 {
  color: var(--color-primary-400);
}

.text-primary-500 {
  color: var(--color-primary-500);
}

.text-primary-600 {
  color: var(--color-primary-600);
}

.text-primary-700 {
  color: var(--color-primary-700);
}

.text-primary-800 {
  color: var(--color-primary-800);
}

.text-primary-900 {
  color: var(--color-primary-900);
}

.text-primary-950 {
  color: var(--color-primary-950);
}

// button dark purple
// Tombol dengan warna ungu gelap
.btn-dark-purple {
  @extend .btn; // Meng-extend semua gaya tombol Bootstrap
  background-color: $dark-purple;
  border-color: $dark-purple;
  color: $btn-color;
  &:hover {
    color: $btn-color; // Warna teks untuk keadaan hover
  }
}

// invoice-container
.container-invoice {
  width: 100%;
  padding: 40px 10px;
  max-width: 850px;
  margin: 0 auto;
}
